.six {
  background: #09042a;
  position: relative;
  display: block;
}

.six-content {
  width: 150px;
  height: 150px;
  background: #7b3f61;
  border-radius: 50%;
  position: absolute;
  top: 50%;
}

.six-content:nth-of-type(1) {
  background: #7b3f61;
  left: 50%;
  transform: translate(-125px, -50%);
}
.six-content:nth-of-type(2) {
  background: #e78481;
  right: 50%;
  transform: translate(125px, -50%);
  overflow: hidden;
}

.six-content:nth-of-type(2):before {
  content: "";
  width: 100%;
  height: 100%;
  background: #09042a;
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: -100px;
}
